/* Default styles for desktop devices */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

header {
	background-color: #155da1; /* Changed from dark gray to navy blue */
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

header a {
	text-decoration: none;
	color: inherit;
}

/* Navigation Bar Styling */
nav {
	background-color: #0068B5; /* Changed from gray to navy blue */
	color: #ffffff;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	position: sticky;
	top: 0;
	z-index: 1;
}

nav ul {
	list-style-type: none;
	margin: 0;
	display: inline;
	padding-left: 0;
}

nav ul li {
	display: inline;
	padding-left: 0;
}

/* Navigation Link Styling */
nav a {
	color: #ffffff;
	text-decoration: none;
	padding: 10px;
	transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover */
}

/* Navigation Hover Effect */
nav a:hover {
	color: #00C7FD; /* Changed hover color to teal */
	background-color: #155da1; /* Slightly lighter navy background on hover */
}

/* Main content styling */
main {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

section {
	flex: 1;
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	min-width: 50%;
}

h1, h2, h3 {
	font-weight: bold;
}

img {
	max-width: 40%;
	height: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table th, table td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

table th {
	background-color: #f2f2f2;
	font-weight: bold;
}

/* Footer Styling */
footer {
	background-color: #0a192f; /* Changed footer background to match navigation */
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 14px;
}

/* Styles for smaller devices */
@media only screen and (max-width: 600px) {
	header {
		font-size: 7vmin;
	}
	nav {
		font-size: 4.2vmin;
	}
	nav ul {
		list-style-type: none;
		margin: 0;
		padding-left: 0;
		display: inline;
	}
	nav ul li {
		display: inline;
		padding-left: 0;
	}
	main {
		flex-direction: column;
	}
	section {
		margin: 10px;
		font-size: 14px;
	}
	img {
		max-width: 100%;
		min-height: auto;
	}
}

/* ==================================================== */
/* ACCORDION STYLES */
/* ==================================================== */
.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: block;
}

.accordion {
  margin-bottom: 1em;
}

.accordion label {
  cursor: pointer;
}

.accordion label:hover,
.accordion label:focus {
  background: #d8d8d8;
}

.accordion .handle label:before {
  content: ">";
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
  transform: rotate(90deg);
}