<!-- pages/templates/pages/coursework.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Yousef Maitah</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/styles.css' %}"> 
</head>
<body>
    <header><a href="">Yousef Maitah</a></header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'coursework' %}">Coursework</a>
        <a href="{% url 'resume' %}" target="_blank" rel="noreferrer noopener">Resume</a> 
        <a href="{% url 'other' %}">Other</a>
    </nav>
    <main>
        <section id="coursework">
            <h2>Coursework</h2>
            <ul class="hyphen-list">
              <li>EECS 183: Elementary Programming Concepts</li>
              <li>EECS 200: Electrical Engineering Systems Design I</li>
              <li>EECS 201: Computer Science Pragmatics</li>
              <li>EECS 215: Introduction to Electrical Circuits</li>
              <li>EECS 216: Introduction to Signals and Systems</li>
              <li>EECS 230: Engineering Electromagnetics</li>
              <li>EECS 250: Electrical Sensing Systems</li>
              <li>EECS 270: Introduction to Logic Design</li>
              <li>EECS 280: Programming and Data Structures</li>
              <li>EECS 312: Digital Integrated Circuits</li>
              <li>EECS 370: Introduction to Computer Organization</li>
              <li>EECS 428: Quantum Nanotechnology</li>
            </ul>
            <p>Curently Enrolled In (Winter 2025):</p>
            <ul class="hyphen-list">
              <li>EECS 301: Probabilistic Methods in Engineering</li>
              <li>EECS 320: Introduction to Semiconductor Devices</li>
              <li>EECS 460: Control Systems Analysis and Design</li>
            </ul>
        </section>
    </main>
</body>