<!-- pages/templates/pages/other.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Yousef Maitah</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/styles.css' %}"> 
</head>
<body>
    <header><a href="">Yousef Maitah</a></header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'coursework' %}">Coursework</a>
        <a href="{% url 'resume' %}" target="_blank" rel="noreferrer noopener">Resume</a> 
        <a href="{% url 'other' %}">Other</a>
    </nav>
    <main>
        <section id="setup">
            <h2>System Specifications</h2>
            <ul class="hyphen-list">
              <li>Intel Core i9-14900K 24-Core Processor</li>
              <li>Zotac GAMING Trinity OC GeForce RTX 4080 Super</li>
              <li>T-Force Delta 32 GB DDR5-6000 CL30 Memory</li>
              <li>Gigabyte Z790 AORUS PRO X ATX LGA1700 Motherboard</li>
              <li>Cooler Master MasterLiquid 360L Core ARGB Liquid CPU Cooler</li>
              <li>NZXT H6 Flow RGB ATX Mid Tower Case</li>
              <li>Corsair RM1000e 1000W 80+ Gold PSU</li>
              <li>Crucial P3 Plus 2 TB M.2-2280 SSD</li>
              <li>Timetec 1TB SSD</li>
              <li>ASTRO A50</li>
              <li>Microsoft Windows 11 Pro</li>
              <li>LG UltraGear 32GR93U-B 32.0" 3840 x 2160 144 Hz</li>

        </section>
    </main>
</body>